

#deleteModal{
    border: 1px solid rgb(247, 30, 30) ;
    background-color: rgb(255, 223, 223);
    padding: 14px;
    margin: 1vh;
    border-radius: 0.4rem;
    color: rgb(247, 30, 30);
    font-weight: 500;
}
#deleteModal form{
    margin-top: 0.6rem;
    gap: 0.4rem;
}
#deleteModal input{
    padding: 4px 16px;
    border-radius: 0.2rem;
    font-weight: 500;
}
#deleteModal #cancel{
    border: 1px solid black;
    background-color: white;
}
#deleteModal #confirm{
    background-color: #ff3434;
    border:none;
    color:white;
}
table,form, #deleteModal{
    width: 80vw;
}
td{
    padding:12px;
}
table tr:hover{
    background-color: rgb(233, 233, 233);
}
table{
    margin-bottom: 2vh;
    background-color: white;
}
table,td{
    font-size:0.9rem;
    border: 1px solid 	 #420e07;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
}
thead td{
  background-color:  #8b0606;
  color: #fff;
}
.err{
    margin: 3vh 0;
    color: red;
}
form{
    display: flex;
}
#delBttn{
    background-color: #ff3434;
    border-radius: 0.2rem;
    border:none;
    color:white;
    padding:6px 12px ;
    margin-right: auto;
}

@media screen and (max-width: 1180px){
   td{
        font-size: 0.7rem;
    }
}